
*.pyc

*.log
.coverage
*.DS_Store

*.avrae

venv/
/venv*/
/testenv/
/venv-rewrite/
/.idea/
temp/
test/

/.cache/
/.pytest_cache/

*.json
!*.spec.json
*.pdf
*.zip

credentials.py

docker/env

docs/_build/
