
*.pyc

*.log

*.ragnarok

/venv/*

*.avrae

*.ini
/tests/
/venv/
/.idea/

cmd_aliases-backup.json

char_vars-backup.json

damage_snippets-backup.json
/dicecloud.txt

.idea/vcs.xml

.idea/inspectionProfiles/Project_Default.xml
