
*.pyc

*.log

*.ragnarok

*.avrae

/tests/
/venv/
/.idea/

cmd_aliases-backup.json

char_vars-backup.json

damage_snippets-backup.json
/dicecloud.txt

.idea/vcs.xml

.idea/inspectionProfiles/Project_Default.xml

/stdout.txt
/resources.txt
/raspi.md
/saves/
/test/output/*


test/test.pdf
