version: '3'

services:
  tests:
    image: avrae-tests
    build:
      context: .
      dockerfile: Dockerfile.test
    depends_on:
      - mongo
      - redis
    environment:
      - DISCORD_OWNER_USER_ID: 98765432109876543
      - DICECLOUD_USER
      - DICECLOUD_PASS
      - DICECLOUD_TOKEN
    volumes:
      - "./shared:/app/shared"

  mongo:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: topsecret
    ports:
      - 58017:27017

  redis:
    image: redis:5
    ports:
      - 58379:6379

