version: '3'

services:
  bot:
    image: avrae
    build:
      context: .
      args:
        DBOT_ARGS: test
        ENVIRONMENT: development
    depends_on:
      - mongo
      - mongo-express
      - redis
    env_file:
      - ./docker/env
    environment:
      DBOT_ARGS: test
      ENVIRONMENT: development

  mongo:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: topsecret
    ports:
      - 58017:27017
    volumes:
      - mongo:/data/db

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 58081:8081
    depends_on:
      - mongo
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://root:topsecret@mongo:27017
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: topsecret

  redis:
    image: redis:5
    ports:
      - 58379:6379
    volumes:
      - redis:/data

volumes:
  mongo:
  redis:
