# avrae org deps
git+https://github.com/avrae/draconic@master
git+https://github.com/avrae/automation-common@v4.2.0
d20==1.1.2

# top-level deps
aiobotocore==2.12.4
redis==5.0.4
cachetools==5.3.3
markdownify==0.9.4
psutil==5.9.8
pydantic==1.10.19
pyjwt==2.4.0
python-meteor==0.1.6
pyyaml==6.0.1

# Already Updated Packages
# Top Level Deps
launchdarkly-server-sdk==9.0
Pillow~=10.3.0
disnake~=2.10.1
gspread~=6.1.1
rapidfuzz~=3.6.1
motor==3.4.0
boto3==1.34.106

# Updated Transitive Deps
pymongo==4.7.2

# Handling for Datadog
ddtrace~=2.21.3

# BI Data Collection
confluent-kafka