aiohttp==1.0.5
aiohttp-jinja2==0.13.0
async-timeout==1.1.0
cffi==1.9.1
chardet==2.3.0
discord.py==0.16.7
Jinja2==2.9.4
MarkupSafe==0.23
meteor-ejson==1.1.0
multidict==2.1.4
numexpr==2.6.1
numpy==1.11.3
pdfminer.six==20160614
psutil==5.0.1
pycparser==2.17
pyee==3.0.1
PyNaCl==1.0.1
python-ddp==0.1.5
redis==2.10.5
six==1.10.0
websockets==3.2
ws4py==0.3.5
youtube-dl==2016.12.22
