{% extends "baseSimple.html" %}
{% block title %}Avrae - Credits{% endblock %}
{% block css %}

{% endblock %}
{% block main %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Credits</h1>
    <p>Avrae is made possible by multiple open-source libraries, data contributed by the community, and most importantly, support from people like you.</p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Libraries</h2>
      <ul>
        <li><a href="https://github.com/Rapptz/discord.py">discord.py</a> - For interfacing with Discord.</li>
        <li><a href="http://flask.pocoo.org/">Flask</a> - For providing the backend framework for this site.</li>
        <li><a href="http://getbootstrap.com/">Bootstrap</a> - For providing the frontend framework.</li>
        <li><a href="https://github.com/burnash/gspread">gspread</a> - For making <code>!gsheet</code> possible.</li>
        <li><a href="https://github.com/pdfminer/pdfminer.six">pdfminer</a> - For making <code>!pdfsheet</code> possible.</li>
        <li><a href="https://github.com/seatgeek/fuzzywuzzy">fuzzywuzzy</a> - For searching through the conpendium.</li>
        <li>And more!</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h2>Data Sources</h2>
      <ul>
        <li><a href="https://github.com/astranauta/astranauta.github.io">5etools GitHub</a> - A community-managed 5e database.</li>
      </ul>
   </div>
    <div class="col-md-4">
      <h2>Community</h2>
      <ul>
        <li>@zhu.exe#4211 - Developer</li>
        <li>@Iridian#7625 - Original dice foundation</li>
        <li><a href="https://www.reddit.com/user/ThaumRystra">u/ThaumRystra</a> - Dicecloud Dev</li>
        <li>@Marcus#3244 - Tester/Community Moderator</li>
        <li>@Zombono#4136 - Art</li>
        <li>Everyone else I can't mention lest this page scroll forever!</li>
      </ul>
    </div>
  </div>
{% endblock %}
{% block js %}

{% endblock %}