    <div class="navbar-wrapper">
      <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Avrae</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/commands">Command List</a></li>
                <li><a href="/cheatsheets">Cheatsheets</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/credits">Credits</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="http://invite.avrae.io">Invite Link</a></li>
                    <li><a href="http://support.avrae.io">Support Server</a></li>
                    <li><a href="http://donate.avrae.io">Donate</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/dashboard">Dashboard</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>