{% extends "baseSimple.html" %}
{% block title %}Avrae - Cheatsheets{% endblock %}
{% block css %}

{% endblock %}
{% block main %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Cheatsheets</h1>
    <p>Need a quick and simple reference on how to use Avrae's commands, without having to dig though pages of documentation? This page is for you.</p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Combat - DM</h2>
      <p>This cheatsheet details useful commands for a DM to run combat using the InitTracker module.</p>
      <p><a class="btn btn-default" href="/cheatsheets/dm" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Combat - Player</h2>
      <p>This cheatsheet details useful commands for a player to play in a InitTracker combat.</p>
      <p><a class="btn btn-default" href="/cheatsheets/player" role="button">View details &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>Customization</h2>
      <p>This cheatsheet details the basics of aliasing, using snippets, and using cvars to customize and streamline the usage of the base command system.</p>
      <p><a class="btn btn-default" href="/cheatsheets/aliasing" role="button">View details &raquo;</a></p>
    </div>
  </div>
  
  <hr>
</div>
{% endblock %}
{% block js %}

{% endblock %}