name: Lint PR

on:
  [ pull_request ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Python 3.10
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - name: Cache pip
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
            ${{ runner.os }}-

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install -r requirements.txt
          pip install flake8

      - name: Setup flake8 annotations
        uses: rbialon/flake8-annotations@v1

      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          git diff -u origin/master HEAD | flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics --diff
          # exit-zero treats all errors as warnings. We use a line length of 120
          git diff -u origin/master HEAD | flake8 . --count --exit-zero --max-line-length=120 --statistics --diff
