/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.character-item {
  margin: 0 auto;
  width: 180px;
  height: 180px;
}

.character-item img {
  display: inline;
  max-width: 100%;
  max-height: 100%;
  border-radius: 180px;
  -webkit-border-radius: 180px;
  -moz-border-radius: 180px;
  border: 1px solid #ff9999;
  box-shadow: 0 0 4px rgba(255, 153, 153, 0.8);
  -webkit-box-shadow: 0 0 4px rgba(255, 153, 153, 0.8);
  -moz-box-shadow: 0 0 4px rgba(255, 153, 153, 0.8);
  margin-bottom: 10px; 
}

.row-centered {
  text-align: center;
}

.score-container {
  z-index: 1;
  width: 75px;
  height: 75px;
  background: #ddd;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  position: relative;
  top: 0;
  left: 0;
}

.panel-title {
  height: 75px;
}

.score-img {
  z-index: 10;
}

.score-img img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  vertical-align: middle;
}

.score-progress {
  z-index: -1;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  width: 100%;
  height: 0px; /* modify programatically */
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff; /* modify programatically */
}

@keyframes slideAway {
    0% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
}

.score-animation {
  z-index: -1;
  position: absolute;
  overflow: hidden;
  width: 100%;
  background: inherit;
  left: 0;
  top: 0;
}